<!DOCTYPE html>
<html>
<head>
  <title>Bs5 expandable list group</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "bs5_expandable_list_group/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
